<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Schoolbell&display=swap" rel="stylesheet">

        <style>
            body{
                background: gray;
            }
            .container {
                font-family: 'Schoolbell', cursive;
                border: 2px solid red;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding: 20px;
            }
            .list {
                background: #80AEE8;
                flex-basis: 18%;
                border-radius: 12px;
                padding: 5px;
            }
            # .columnTwo {
            #     border: 2px dashed blue;
            #     background: blue;
            #     flex-basis: 18%;
            #     border-radius: 12px;
            #     padding: 5px;
            # }
            # .columnThree {
            #     border: 2px solid purple;
            #     background: purple;
            #     flex-basis: 18%;
            #     border-radius: 12px;
            #     padding: 5px;
            # }
            # .columnFour {
            #     border: 2px dotted yellow;
            #     background: yellow;
            #     flex-basis: 18%;
            #     border-radius: 12px;
            #     padding: 5px;

            # }
            # .columnFive{
            #     border: 2px solid pink;
            #     background: pink;
            #     flex-basis: 18%;
            #     border-radius: 12px;
            #     padding: 5px;
            # }
            .card {
                margin-bottom: 15px;
                padding: 5px;
                border:orange 2px solid;
                background: orange;
                transition: all 0.5s ease-in-out;
            }
            .card:hover {
                background: #FFBE00;
                box-shadow: 3px 3px 8px;
                transform: scale(1.2 1.2);
            }

        </style>
    </head>
    <body>
        <div class="container">
            <div class="list">
                <h2 class="listTitle"> Grocery List </h2>
                <div class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, quisquam?</div>
                <div class="card">Lorem, ipsum dolor.</div>
                <div class="card">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
                <div class="card">
                    <textarea cols="30" rows="3" placeholder="Enter a new card's text here..."></textarea>
                    <button type="submit" onClick="newCard(this)">Add</button>
                </div>
            </div>

            <% @lists.each do |list| %>
                <div class="list">
                    <h2><%= list.title %></h2>

                    <% card = Card.find(list.id) %>
                    <div class="card"><%= card.content %></div>
    
    <!--Person.find(:all, :params => { :title => "CEO" })-->

                    <div class="card">
                        <textarea cols="30" rows="3" placeholder="Enter a new card's text here..."></textarea>
                        <button type="submit" onClick="newCard(this)">Add</button>
                    </div>
                </div>
            <% end %>
        </div>
    </body>
</html>```
